<section class="card list">
    <div class="card-block">
        <h1 class="card-title">Membres</h1>
        <div class="global-actions">
            <a href="#/user/add" class="btn btn-outline-primary"><i class="ico ico-user-plus"></i> New member</a>	
        </div>
    </div>
    <div class="card-block inter-block">                
        <form>
            <div class="form-group">
                <div class="input-group">
                    <label for="user-list-filter" class="input-group-addon"><i class="ico ico-search" aria-labelledby="search"></i></label>
                    <input type="search" id="user-list-filter" class="form-control" placeholder="Recherche par Nom Prénom" ng-model="queryCriteria" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-block" ng-controller="UserListCtrl as usrCtrl">
        <div class="loader-spinner" data-ng-show="usrCtrl.isLoading">
            <i class="ico ico-spinner ico-pulse ico-lg"></i>
        </div>
        <ul class="row list-item">
            <li user-list-item user="user"
                class="animation card-item col-xs-12 col-sm-6 col-lg-4"
                ng-repeat="user in users | filter: userListQuery | orderBy: ['last_name'] as results"></li>
            <li class="animation alert-info alert radius" ng-if="results.length === 0">
                <div>Aucun résultat trouvé...</div>
            </li>
        </ul>
    </div>
</section>