<section class="col-md-8 card user-profile">
    <figure class="user-image-holder">
        <img id="profileImg" ng-src="{{ imgSrc }}" alt="Photo de {{ currentUser.first_name }}" class="logo img-circle" height="140px" width="140px" />
    </figure>
    <div class="user-title">
        <h1 class="text-center">{{currentUser.last_name}}<span ng-show="currentUser.maiden_name"> ({{currentUser.maiden_name}})</span> {{currentUser.first_name}}</h1>
        <h2 class="text-center">{{currentUser.birthdate | date: 'dd.MM.yyyy'}}</h2>
    </div>
    <div class="card-block">
        <div class="ribbon-wrapper">
            <div class="ribbon" data-ng-class="{inactiv : !currentUser.is_active}">{{currentUser.is_active ? "Actif" : "Inactif"}}</div>
        </div>
        <div class="actions pull-right">
            <a href="#/user/{{currentUser.id}}/edit" class="btn btn-primary-outline">
                <i class="ico ico-pencil"></i>
            </a>
            <button class="btn btn-danger" ng-click="delete( currentUser.id )">
                <i class="ico ico-trash"></i>
            </button>
        </div>
    </div>
    
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="" class="nav-link active"><i class="ico ico-phone ico-2x"></i> Infos</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"><i class="ico ico-map-marker ico-2x"></i> Adresses</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"><i class="ico ico-credit-card ico-2x"></i> Cotisation</a>
            </li>
        </ul>
    </nav>
    <div class="card-block">        
        <div class="user-card">            
            <p ng-show="currentUser.mobile">
                <span class="text-separator"><i class="ico ico-phone"></i></span>
                <span><a href="tel:{{currentUser.mobile}}">{{currentUser.mobile | tel}}</a></span>
            </p>
            <p ng-show="currentUser.telefon">
                <span class="text-separator"><i class="ico ico-phone"></i></span>
                <span><a href="tel:{{currentUser.telefon}}">{{currentUser.telefon | tel}}</a></span>
            </p>
            <p ng-show="currentUser.email">
                <span class="text-separator"><i class="ico ico-at"></i></span>
                <span><a href="mailto:{{currentUser.email}}">{{currentUser.email}}</a></span>
            </p>
            <p ng-show="currentUser.fb_profile_name">
                <span class="text-separator"><i class="ico ico-facebook-official"></i></span>
                <span><a href="http://www.facebook.com/{{currentUser.fb_profile_name}}">http://www.facebook.com/{{currentUser.fb_profile_name}}</a></span>
            </p>
            <p ng-show="currentUser.website">
                <span class="text-separator"><i class="ico ico-bookmark"></i></span>
                <span><a href="http://{{currentUser.website}}" target="_blank">{{currentUser.website}}</a></span>
            </p>
        </div>
    </div>
    <div class="row card-block" addresses addresses-attr="currentUser.addresses"></div>
    <div cotisations></div>
</section>
<aside class="col-md-4 user-profile">
    <div class="card card-block">
        <h4>Taux de participation</h4>
        <p>Le taux de participation est de n/n.</p>
        <div event-stats></div>
    </div>
</aside>