<section class="event-list">
    <loaders-css [hidden]="!isLoading" [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
    <div [hidden]="isLoading" class="alert alert-info">{{eventList.length}} évènements listés</div>
    <ul class="row list-item" *ngIf="eventList.length">                
        <li *ngFor="let event of eventList" class="col-md-12 col-lg-6">
            <a href="/events/{{event.id}}" class="card">
                <!-- <div class="card-header">
                </div> -->
                <div class="card-body">
                    <h2 class="title">{{event.title}}</h2>
                    <p class="card-subtitle mb-2 text-muted">{{ event.start_date | date: 'MM.dd.yyyy' }}</p>
                    <p class="lieu"><i class="fa fa-map-marker"></i> {{ event.location }}</p>
                    <p class="organisator"><i class="fa fa-bullhorn"></i> {{ event.organisator }}</p>
                    <p><i class="fa fa-users"></i> {{event.subscriptionsNb}} participants</p>
                </div>
            </a>
        </li>             
    </ul>
</section>