<div class="row">
    <div class="col-12">
        <loaders-css [hidden]="!isLoading" [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
        <section class="card event-details" *ngIf="event">
            <div class="card-img-top">
                <img src="http://images.myswitzerland.com/n49464/images/buehne/ville_de_sion.jpg" alt="Ville de Sion" class="img-fill">
                <h1 class="card-title module-title">{{event.title}}</h1>
            </div>
            <div class="content">
                <p class="text-muted module-meta">Created by {{event.created_by}} at {{event.created_at}}</p>
                <nav class="module-actions">
                    <a href="/events" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
                    <button class="btn btn-outline-info" data-ng-click="this.subscribe(currentUser.id)"><i class="fa fa-plane"></i></button>
                    <button class="btn btn-outline-info"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-outline-danger" data-ng-click="this.delete()"><i class="fa fa-trash"></i></button>
                </nav>
                <section class="card-block">
                    <p>
                        <span class="text-separator"><i class="fa fa-calendar-o"></i></span>
                        <span>{{event.event_date | date: 'dd.MM.yyyy'}}</span>
                    </p><p>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>{{event.location}} ({{event.latitude}} / {{event.longitude}})</span>
                    </p><p>
                        <span><i class="fa fa-money text-separator"></i></span>
                        <span>CHF {{event.price}}</span>
                    </p>
                </section>
                <section class="card-block">
                    <h2>Description</h2>
                    <div [innerHTML]="event.description"></div>
                    <p>{{event.organisator}}</p>
                </section>
                <section class="card-block">
                    <h2>Location</h2>
                    <agm-map class="gmap" [latitude]="event.latitude" [longitude]="event.longitude">
                        <agm-marker [latitude]="event.latitude" [longitude]="event.longitude"></agm-marker>
                    </agm-map>
                </section>
            </div>
        </section>
    </div>
</div>