<div class="row">
    <section class="col-md-8">
        <router-outlet></router-outlet>
    </section>
    <aside class="col-md-4">
        <app-panel>
            <span class="title"><i class="fa fa-ticket"></i> Subscribers</span>
            <span class="text" *ngIf="subscriberList && subscriberList.length">
                <app-event-subscriptions isTotalHidden="true"></app-event-subscriptions>
            </span>
        </app-panel>
        <app-panel>
            <span class="title"><i class="fa fa-pie-chart"></i> Success ratio</span>
            <span class="text">15% of active members are attending to this event !</span>
        </app-panel>        
    </aside>
</div>