<div class="row">
    <section class="col-md-8">
        <router-outlet></router-outlet>
    </section>
    <aside class="col-md-4">
        <app-panel>
            <span class="title"><i class="fa fa-pie-chart"></i> Success ratio</span>
            <span class="text">15% of active members are attending to this event !</span>
        </app-panel>        
        <app-panel>
            <span class="title"><i class="fa fa-ticket"></i> Subscriptions</span>
            <span class="text" *ngIf="participation">
                <span>{{participation.length}} user participated to this event.</span>
                <ul>
                    <li *ngFor="let user of participation">
                        <a href="/users/{{user.id}}">{{user.fullname}}</a>
                    </li>
                </ul>
            </span>
        </app-panel>
    </aside>
</div>