<div class="row">
    <section class="col-md-8">
        <app-event-detail
            [event]="event"
            [isLoading]="isLoading"></app-event-detail>
    </section>
    <aside class="col-md-4">
        <app-panel>
            <span class="title">Success ratio</span>
            <span class="text">Participation ratio to this event according to the active member list.</span>
        </app-panel>        
        <app-panel>
            <span class="title">Participation</span>
            <span class="text" *ngIf="participation">
                <span>{{participation.length}} user participated to this event.</span>
                <ul>
                    <li *ngFor="let user of participation">
                        <a href="/users/{{user.id}}">{{user.fullname}}</a>
                    </li>
                </ul>
            </span>
        </app-panel>
    </aside>
</div>