<section class="login-form row">
    <div class="card card-body col align-self-center">
        <header>
            <h1 class="card-title">Changez votre mot de passe</h1>
        </header>
        <div>
            <form [formGroup]="changePasswordForm" novalidate>
                <div class="form-group">
                    <label for="actual-password-{{compId}}" class="center-block">Mot de passe actuel</label>
                    <input id="actual-password-{{compId}}" type="password" class="form-control" formControlName="actualPassword" placeholder="me@example.org" />
                    <div class="invalid-feedback"
                        *ngIf="changePasswordForm.controls.actualPassword.touched &&
                        changePasswordForm.controls.actualPassword.invalid &&
                        changePasswordForm.controls.actualPassword.errors.required"
                        >Ce champ est requis</div>
                </div>
                <app-password-confirm-form [parent]="changePasswordForm"></app-password-confirm-form>
                <div class="invalid-feedback"
                    *ngIf="changePasswordForm.controls.passwordConfirmForm &&
                    changePasswordForm.controls.passwordConfirmForm.touched &&
                    changePasswordForm.controls.passwordConfirmForm.invalid &&
                    changePasswordForm.controls.passwordConfirmForm.errors &&
                    changePasswordForm.controls.passwordConfirmForm.errors.fieldContentMismatched
                    ">La confirmation du mot de passe n'est pas similaire</div>
            </form>
        </div>
        <footer>
            <button type="button" class="btn btn-primary" (click)="changePassword($event)" [disabled]="!changePasswordForm.valid">Modifier le mot de passe</button>
            <div>{{ changePasswordForm.value | json }}</div>
            <div>{{ changePasswordForm.valid }}</div>
        </footer>
    </div>
</section>