.notifier {
    background-color: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    z-index: 2;
}

.notifier__item {
    background-color: lighten(red, 45%);
    border: 1px solid red;
    margin: 5px 0;
    padding: 5px;
}

.notifier__item-close {
    background-color: transparent;
    border: 0 none;
    float: right;
    padding: 4px 8px;
}

@media screen and (min-width: 840px) {
    .notifier {
        margin: 0 auto;
    }
}
