<section id="addressList" ng-hide="uctrl.currentUser.addresses.length === 0">
	<h2>Adresse(s)</h2>
	<div class="address-list">
		<div class="panel address-item" ng-repeat="address in uctrl.currentUser.addresses">
			<div class="row">						
				<button class="button textified left">
					<i class="fa fa-2x" ng-class="uctrl.currentUser.defaultAddressId == address.id ? 'fa-star' : 'fa-star-o'"></i>
				</button>
				<div class="button-group action-items right">
					<button class="secondary action">
						<i class="fa fa-pencil"></i>
					</button>
					<button class="secondary action" ng-click="uctrl.deleteAddress()"><i class="fa fa-times"></i></button>
				</div>
			</div>
			<div class="row">
				<p>{{address.street1}}</p>
				<p>{{address.street2}}</p>
				<p>{{address.npa}} {{address.locality}}</p>
				<p>{{address.region}} - {{address.country}}</p>
			</div>
		</div>
	</div>
</section>