<div [formGroup]="parent">
    <div formGroupName="passwordConfirmForm">
        <div class="form-group">
            <label for="password-{{compId}}" class="center-block">Password</label>
            <input id="password-{{compId}}" type="text" class="form-control" formControlName="password" placeholder="password" />
            <div class="invalid-feedback"
                *ngIf="parent.controls.passwordConfirmForm.controls.password &&
                parent.controls.passwordConfirmForm.controls.password.touched &&
                parent.controls.passwordConfirmForm.controls.password.invalid &&
                parent.controls.passwordConfirmForm.controls.password.errors.required"
                >This field is required</div>
        </div>
        <div class="form-group">
            <label for="confirm-password-{{compId}}" class="center-block">Confirm password</label>
            <input id="confirm-password-{{compId}}" type="text" class="form-control" formControlName="confirmPassword" placeholder="password"
            />
            <div class="invalid-feedback"
                *ngIf="parent.controls.passwordConfirmForm.controls.confirmPassword &&
                parent.controls.passwordConfirmForm.controls.confirmPassword.touched &&
                parent.controls.passwordConfirmForm.controls.confirmPassword.invalid &&
                parent.controls.passwordConfirmForm.controls.confirmPassword.errors.required"
            >This field is required</div>
        </div>        
    </div>
</div>
