<div>
    <div class="form-group">
        <label for="password-{{compId}}" class="center-block">Password</label>
        <input id="password-{{compId}}" type="password" class="form-control" formControlName="password" placeholder="password" />
    </div>
    <div class="form-group">
        <label for="confirm-password-{{compId}}" class="center-block">Confirm password</label>
        <input id="confirm-password-{{compId}}" type="password" class="form-control" formControlName="passwordConfirmation" placeholder="password"
        />
    </div>
</div>
