<loaders-css [hidden]="!isLoading" [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
<div class="card" *ngIf="event">
    <app-event-controls class="card-body"
        [isSubscribed]="isSubscribed"
        [isSubscribable]="isSubscribable"
        [isAdmin]="isAdmin"
        (goToEditEvent)="goToEdit()"
        (deleteEvent)="delete()"
        (subscribeToEvent)="subscribe()"
        (unsubscribeFromEvent)="unsubscribe()"
    ></app-event-controls>
</div>
<app-event-detail
    [event]="event"
></app-event-detail>
