@import '../../../sass/partials/config/variables';


.address-item {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    padding: 4 * $space-step;
}

.address-item__logo {
	margin: 0 5%;
}

.address-item__detail {
	flex-grow: 2;
}