<div *ngIf="!isLoading && !isTokenValid" class="card card-body col col-md-10 col-lg-6 align-self-center">
    <p class="alert alert-danger">Your token has expired</p>
</div>
<div *ngIf="isLoading" class="card card-body col col-md-10 col-lg-6 align-self-center">
    <loaders-css [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
    <p class="alert alert-info">Check token validity...</p>
</div>
<section *ngIf="isTokenValid" class="login-form row">
    <div class="card card-body col col-md-10 col-lg-6 align-self-center">
        <header>
            <h1 class="card-title">Restore your account</h1>
        </header>
        <div>
            <form [formGroup]="changePasswordForm" novalidate>
                <div class="form-group">
                    <label for="email-{{compId}}" class="center-block">Email</label>
                    <input id="email-{{compId}}" type="text" class="form-control" formControlName="email" placeholder="me@example.org" />
                    <div>{{restoreForm.controls.email.errors | json}}</div>
                    <ul *ngIf="restoreForm.controls.email.invalid && (restoreForm.controls.email.dirty || restoreForm.controls.email.touched)"
                        class="invalid-feedback">
                        <li *ngIf="restoreForm.controls.email.errors.required">
                            Email is required.
                        </li>
                        <li *ngIf="restoreForm.controls.email.errors.email">
                            Email format is not valid.
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="password-{{compId}}" class="center-block">Password</label>
                    <input id="password-{{compId}}" type="password" class="form-control" formControlName="password" placeholder="password" />
                    <div>{{restoreForm.controls.password.errors | json}}</div>
                </div>
                <div class="form-group">
                    <label for="confirm-password-{{compId}}" class="center-block">Confirm password</label>
                    <input id="confirm-password-{{compId}}" type="password" class="form-control" formControlName="confirmPassword" placeholder="password"
                    />
                    <div>{{restoreForm.controls.confirmPassword.errors | json}}</div>
                </div>
                <input type="hidden" formControlName="recoveryToken" [ngModel]="recoveryToken"  >
                <ul class="invalid-feedback" *ngIf="restoreForm.errors">
                    <div>{{restoreForm.errors | json}}</div>
                    <li>Password and password confirmation missmatch</li>
                </ul>
            </form>
        </div>
        <footer>
            <button type="button" class="btn btn-primary" (click)="changePassword($event)" [disabled]="!restoreForm.valid">Restore account</button>
            <div>{{restoreForm.value | json }}</div>
            <div>{{ restoreForm.valid }}</div>
        </footer>
    </div>
</section>