<header class="navbar navbar-dark bg-primary">
    <nav class="container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
            <a class="navbar-brand" href="/">Classe 84</a>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users" routerLinkActive="active">Membres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/events" routerLinkActive="active">Evènements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>