<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" routerLink="/">Classe 84</a>

    <div class="collapse navbar-collapse" [ngClass]="{'show': isCollapsed}" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/events" routerLinkActive="active">Evènements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>