<div [formGroup]="parent">
    <div formGroupName="passwordConfirmForm">
        <div class="form-group">
            <label for="password-{{compId}}" class="center-block">Mot de passe</label>
            <input id="password-{{compId}}" type="text" class="form-control" formControlName="password" placeholder="password" />
            <div class="invalid-feedback"
                *ngIf="parent.controls.passwordConfirmForm.get('password') &&
                parent.controls.passwordConfirmForm.get('password').touched &&
                parent.controls.passwordConfirmForm.get('password').invalid &&
                parent.controls.passwordConfirmForm.get('password').errors.required"
                >Ce champ est requis</div>
        </div>
        <div class="form-group">
            <label for="confirm-password-{{compId}}" class="center-block">Confirmez le mot de passe</label>
            <input id="confirm-password-{{compId}}" type="text" class="form-control" formControlName="confirmPassword" placeholder="password"
            />
            <div class="invalid-feedback"
                *ngIf="parent.controls.passwordConfirmForm.get('confirmPassword') &&
                parent.controls.passwordConfirmForm.get('confirmPassword').touched &&
                parent.controls.passwordConfirmForm.get('confirmPassword').invalid &&
                parent.controls.passwordConfirmForm.get('confirmPassword').errors.required"
            >Ce champ est requis</div>
        </div>        
    </div>
</div>
