<div class="row">
    <section class="card col-md-8">
        <div class="card-body">
            <h1 class="card-title">Membres</h1>
            <div class="global-actions">
                <a href="#/user/add" class="btn btn-outline-primary">
                    <i class="fa fa-user-plus"></i>  <span class="d-none d-md-inline">New User</span>
                </a>	
            </div>
            <app-user-list-wrapper></app-user-list-wrapper>
        </div>
    </section>
    <aside class="col-md-4">
        <app-panel>
            <span class="title"><i class="fa fa-birthday-cake"></i> Next birthday</span>
            <span class="text" *ngIf="nextBirthdayUsers.length > 0">The next birthday is
                <a routerLink="/users/{{person.id}}" *ngFor="let person of nextBirthdayUsers; ">{{person.first_name}} {{person.last_name}}</a>
                on {{nextBirthdayUsers[0].birthdate | date: "dd-MM-yyyy"}}
            </span>
        </app-panel>        
        <app-panel>
            <span class="title"><i class="fa fa-trophy"></i> Best participants</span>
            <span class="text">
                <ol>
                    <li><i class="fa fa-trophy" style="color:gold;"></i> John Do (123 <i class="fa fa-calendar-check-o"></i>)</li>
                    <li><i class="fa fa-trophy" style="color:silver;"></i> Jeanne Darc (89 <i class="fa fa-calendar-check-o"></i>)</li>
                    <li><i class="fa fa-trophy" style="color:#CD7F32;"></i> Timon Pumba (55 <i class="fa fa-calendar-check-o"></i>)</li>
                </ol>
            </span>
        </app-panel>  
        <app-panel>
            <span class="title"><i class="fa fa-bar-chart"></i> Stats</span>
            <span class="text">{{totalMembers}} members <br />{{totalMen}} men<br />{{totalWomen}} women<br />{{totalActive}} active members</span>
        </app-panel>
    </aside>
</div>