<div>
    <div class="loader-spinner" *ngIf="isLoading">
        <i class="ico ico-spinner ico-pulse ico-lg"></i>
    </div>
    <ul id="events_list" class="row list-item" *ngIf="!isLoading">                
        <li class="animation" *ngFor="let event of eventList">
            <a href="/events/{{event.id}}" class="card">
                <div class="card-header">
                    <h2>{{event.title}}</h2>
                </div>
                <div class="card-block">
                    <p class="date"><i class="ico ico-calendar text-separator"></i> {{event.event_date}}</p>
                    <p class="organisator"><i class="ico ico-bullhorn"></i> {{event.organisator}}</p>
                    <p class="Lieu"><i class="ico ico-map-marker"></i> {{event.location}}</p>
                    <p><i class="ico ico-users"></i> 18 participants</p>
                </div>
            </a>
        </li>
        <li class="event-item animation" *ngIf="eventList.length === 0">
            <strong class="label alert">Aucun résultat trouvé...</strong>
        </li>                
    </ul>
</div>