<section ng-controller="UserDetailCtrl as uctrl">
	<h1>Details de {{uctrl.currentUser.first_name}}</h1>

<div class="row">
	<div class="ribbon">
			{{uctrl.currentUser.is_activ ? "Membre actif" : "Membre inactif"}}
	</div>

		<!--div class="">
			<a href="#/users/edit/{{uctrl.currentUser.id}}" class="item">
				<i class="ico ico-pencil"></i>
		    	<label>Edit</label>
			</a>
			<button class="item">
				<i class="ico ico-trash">
				<label>Delete</label>
			</a>
		</div-->

	<div class="button-group round action-items text-right">
		<a href="#/users/edit/{{uctrl.currentUser.id}}" class="button small">
			<i class="ico ico-pencil"></i>
		</a>
		<button class="button small alert" ng-click="uctrl.deleteUser()">
			<i class="ico ico-trash"></i>
		</button>
	</div>
</div>

	<div class="row">
		<div class="large-6 columns">Nom de famille</div>
        <div class="large-6 columns">
			{{uctrl.currentUser.last_name}}
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">Prénom</div>
        <div class="large-6 columns">
			{{uctrl.currentUser.first_name}}
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">Genre</div>
        <div class="large-6 columns">
			{{uctrl.currentUser.gender === 'F' ? 'Femme': 'Homme'}}
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">Date de naissance</div>
        <div class="large-6 columns">{{uctrl.currentUser.birthdate | date: 'dd.MM.yyyy'}}</div>
	</div>

	<div class="row" ng-show="uctrl.currentUser.email">
		<div class="large-6 columns">Email</div>
        <div class="large-6 columns">
			<a href="mailto:{{uctrl.currentUser.email}}">{{uctrl.currentUser.email}}</a>
		</div>
	</div>

	<div class="row" ng-show="uctrl.currentUser.mobile">
		<div class="large-6 columns">Téléphone mobile</div>
        <div class="large-6 columns">
			<a href="tel:{{uctrl.currentUser.mobile}}">{{uctrl.currentUser.mobile}}</a>
		</div>
	</div>

	<div class="row" ng-show="uctrl.currentUser.telefon">
		<div class="large-6 columns">Téléphone fixe</div>
        <div class="large-6 columns">
			<a href="tel:{{uctrl.currentUser.telefon}}">{{uctrl.currentUser.telefon}}</a>
		</div>
	</div>
	
	<div class="row" ng-show="uctrl.currentUser.facebook">
		<div class="large-6 columns">Facebook</div>
        <div class="large-6 columns">
			<a href="http://www.facebook.com/{{uctrl.currentUser.facebook}}">http://www.facebook.com/{{uctrl.currentUser.facebook}}</a>
		</div>
	</div>
	
	<div class="row" ng-show="uctrl.currentUser.website">
		<div class="large-6 columns">Website</div>
        <div class="large-6 columns">
			<a href="http://{{uctrl.currentUser.website}}" target="_blank">{{uctrl.currentUser.website}}</a>
		</div>
	</div>
	<addresses></addresses>
	<event-stats></event-stats>
	<cotisations></cotisations>
</section>
