<section class="card">
	<h1 class="card-block">{{currentUser.id ? "Modifier " + currentUser.first_name : "Nouveau membre"}}</h1>
	<form class="card-block" name="userForm" novalidate>
		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
				<label>Genre</label>
			</div><div class="col-md-8 col-lg-6">
                <div class="radio">
                    <label for="gender_m">
                        <input type="radio" name="gender" value="M" id="gender_m" ng-model="currentUser.gender"> Homme
                    </label>
                </div>                
                <div class="radio">
                    <label for="gender_f">
                        <input type="radio" name="gender" value="F" id="gender_f" ng-model="currentUser.gender"> Femme
                    </label>
                </div>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
				<label for="usr-lastname">Nom de famille</label>
			</div><div class="col-md-8 col-lg-6">
                <span class="label alert" ng-show="userForm.lastname.$dirty && userForm.lastname.$error.required">Nom de famille obligatoire</span>
				<input type="text" id="usr-lastname" class="form-control" name="lastname" placeholder="Muster" ng-model="currentUser.last_name" ng-required="true" />
			</div>
		</div>		

		<div class="row form-group" ng-hide="currentUser.gender !== 'F'">
			<div class="col-md-4 col-lg-6">
				<label for="usr-maidenname">Nom de jeune fille</label>
			</div><div class="col-md-8 col-lg-6">
				<input type="text" id="usr-maidenname" class="form-control" name="maidenname" placeholder="Musterette" ng-model="currentUser.maiden_name" />
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
				<label for="usr-firstname">Prénom</label>
			</div><div class="col-md-8 col-lg-6">
                <span  class="label alert" ng-show="userForm.firstname.$dirty && userForm.firstname.$error.required">Prénom obligatoire</span>
				<input type="text" id="usr-firstname" class="form-control" name="firstname" placeholder="Hans" ng-model="currentUser.first_name" ng-required="true" />
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
				<label for="usr-birthdate">Date de naissance</label>
			</div><div class="col-md-8 col-lg-6">
				<input type="text" id="usr-birthdate" class="form-control" placeholder="31.12.1984" ng-model="currentUser.birthdate" />
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
				<label for="usr-email">Email</label>
			</div><div class="col-md-8 col-lg-6">
				<input id="usr-email" class="form-control" type="text" name="email" placeholder="name@domain.ch" ng-model="currentUser.email" />
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
				<label for="usr-mobile">Téléphone mobile</label>
			</div><div class="col-md-8 col-lg-6">
				<input type="text" id="usr-mobile" class="form-control" name="mobile" placeholder="079 123 45 67" ng-model="currentUser.mobile" />
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
				<label for="usr-telefon">Téléphone fixe</label>
			</div><div class="col-md-8 col-lg-6">
				<input type="text" id="usr-telefon" class="form-control" name="telefon" placeholder="027 123 45 67" ng-model="currentUser.telefon" />
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
                <label for="usr-website">Site web</label>
			</div><div class="col-md-8 col-lg-6">
                <div class="input-group">
                    <div class="input-group-addon">http://</div>
                    <input type="text" id="usr-website" class="form-control" name="website" placeholder="www.monsite.ch" ng-model="currentUser.website" />
                </div>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
                <label for="usr-fb-profile">Nom de profile Facebook</label>
			</div><div class="col-md-8 col-lg-6">
                <div class="input-group">
                    <div class="input-group-addon">http://facebook.com/</div>
                    <input type="text" id="usr-fb-profile" class="form-control" name="fb_profile_name" placeholder="hans.muster.2" ng-model="currentUser.fb_profile_name" />
                </div>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-lg-6">
                <label for="usr-fb-id">Identifiant Facebook</label>
			</div><div class="col-md-8 col-lg-6">
				<input type="text" id="usr-fb-id" class="form-control" name="fb_user_id" placeholder="2341230958" ng-model="currentUser.fb_user_id" />
			</div>
		</div>
        
		<div class="row form-group">
			<div class="col-md-offset-4 col-lg-offset-6 col-md-8 col-lg-6">                
                <div class="checkbox">
                    <label for="usr-is-activ">
                        <input type="checkbox" id="usr-is-activ" name="isActive" ng-model="currentUser.is_active" ng-true-value="1" ng-false-value="0" />
                        Est membre actif de la classe</label>
                </div>
			</div>
		</div>
  
		<div class="row">
            <div class="col-md-offset-4 col-lg-offset-6">
    			<button type="submit" class="btn btn-primary" ng-click="saveUser()">Save</button>
    			<a href="#/users/show/{{currentUser.id}}" class="btn btn-default">Annuler</button>
            </div>
		</div>
	</form>
</section>
