<section>
	<h1>Modifier {{uctrl.currentUser.getFullName()}}</h1>
	<form>
		<div class="row">
			<div class="large-6 columns">
				<label>Genre</label>
			</div><div class="large-6 columns">
				<input type="radio" name="gender" value="M" id="gender_m" ng-model="uctrl.currentUser.gender">
				<label for="gender_m">Homme</label>
				<input type="radio" name="gender" value="F" id="gender_f" ng-model="uctrl.currentUser.gender">
				<label for="gender_f">Femme</label>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label for="usr-lastname">Nom de famille</label>
			</div><div class="large-6 columns">
				<input type="text" id="usr-lastname" name="lastname" placeholder="Muster" ng-model="uctrl.currentUser.last_name" />
			</div>
		</div>		

		<div class="row" ng-hide="uctrl.currentUser.gender !== 'F'">
			<div class="large-6 columns">
				<label for="usr-maidenname">Nom de jeune fille</label>
			</div><div class="large-6 columns">
				<input type="text" id="usr-maidenname" name="maidenname" placeholder="Musterette" ng-model="uctrl.currentUser.maidenname" />
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label for="usr-firstname">Prénom</label>
			</div><div class="large-6 columns">
				<input type="text" id="usr-firstname" placeholder="Hans" ng-model="uctrl.currentUser.first_name" />
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label for="usr-email">Email</label>
			</div><div class="large-6 columns">
				<input id="usr-email" type="text" name="email" placeholder="name@domain.ch" ng-model="uctrl.currentUser.email" />
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label for="usr-mobile">Téléphone mobile</label>
			</div><div class="large-6 columns">
				<input type="text" id="usr-mobile" name="email" placeholder="079 123 45 67" ng-model="uctrl.currentUser.mobile" />
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label for="usr-mobile">Téléphone fixe</label>
			</div><div class="large-6 columns">
				<input type="text" id="usr-mobile" name="email" placeholder="027 123 45 67" ng-model="uctrl.currentUser.telefon" />
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label for="usr-is-activ">Activité du membre</label>
			</div><div class="large-6 columns">
				<input type="checkbox" id="usr-is-activ"><label for="usr-is-activ">Est membre actif de la classe</label>
			</div>
		</div>

		<div class="row">
			<button class="large-offset-6 small" ng-click="uctrl.saveUser()">Save</button>
			<a href="#/users" class="	 small">Annuler</button>
		</div>

	</form>
</section>
