<section class="login-form row">
    <div class="card card-block col col-md-10 col-lg-6 align-self-center">
        <header>
            <h1 class="card-title">Login</h1>
        </header>
        <div *ngIf="isLoggingIn" class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
        <div *ngIf="loggedUser">
            <p>Hello {{loggedUser.fullname}} you're logged in. Would you like to go to your profile page ?</p>
            <p class="text-muted">Not {{loggedUser.first_name}} ? Please <a routerLink="/logout">logout</a>.</p>
        </div>
        <div *ngIf="loginForm && !isLoggingIn && !loggedUser">
            <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
            <form [formGroup]="loginForm" novalidate>
                <div class="form-group">
                    <label for="login-email" class="center-block">Email</label>
                    <input 
                        id="login-email" 
                        type="text" 
                        class="form-control"
                        formControlName="email"
                        placeholder="me@example.org" />
                </div>
                <div class="form-group">
                    <label for="login-password" class="center-block">Password</label>
                    <input
                        id="login-password"
                        type="password"
                        class="form-control"
                        formControlName="password"
                        placeholder="password" />
                </div>
                <div class="checkbox">
                    <label for="login-remember-me">
                        <input
                            id="login-remember-me"
                            type="checkbox"
                            formControlName="remember" /> Remember me
                    </label>
                </div>
            </form>
            <footer>
                <button type="button" class="btn btn-primary" (click)="login()">Log me in</button>
                <br>{{loginForm.value | json}}
            </footer>
        </div>
    </div>
</section>