<div *ngIf="loginForm">
    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
        <div class="form-group">
            <label for="email-{{compId}}" class="center-block">Email</label>
            <input id="email-{{compId}}" type="text" class="form-control" formControlName="email" placeholder="me@example.org" />
            <ul class="invalid-feedback"
                *ngIf="loginForm.get('email') && loginForm.get('email').touched && loginForm.get('email').errors">
                <li *ngIf="loginForm.get('email').hasError('required')">Ce champ est requis</li>
                <li *ngIf="loginForm.get('email').hasError('email')">Le format de l'email est invalide</li>
            </ul>
        </div>
        <div class="form-group">
            <label for="password-{{compId}}" class="center-block">Mot de passe</label>
            <input id="password-{{compId}}" type="password" class="form-control" formControlName="password" placeholder="password" />
            <ul class="invalid-feedback"
                *ngIf="loginForm.get('password') && loginForm.get('password').touched && loginForm.get('password').errors">
                <li>This field is required</li>
            </ul>
        </div>
        <div class="checkbox">
            <label for="remember-me-{{compId}}">
                <input
                    id="remember-me-{{compId}}"
                    type="checkbox"
                    formControlName="remember" /> se souvenir de moi
            </label>
        </div>
        <div *ngIf="isArray(globalErrors) && globalErrors.length">
            <ul class="alert alert-danger pl-5">
                <li *ngFor="let err of globalErrors">{{err}}</li>
            </ul>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="isProcessing">
                <i class="fa fa-spinner fa-spin" *ngIf="isProcessing"></i> Connexion
            </button>
            <a routerLink="/login"
                class="btn btn-link"
                *ngIf="!isProcessing"
                [queryParams]="{ recovery: 'true' }"
                >Mot de passe oublié ?</a>
        </div>
    </form>
</div>