<nav class="module-actions">
    <a href="/events" class="btn btn-default">
        <i class="fa fa-arrow-left"></i>
    </a>
    <div *ngIf="isAdmin">
        <button class="btn btn-outline-info"
            (click)="goToEdit($event)"
            title="Edit">
            <i class="fa fa-pencil"></i> Editer
        </button>
        <button class="btn btn-outline-danger"
            (click)="delete($event)"
            title="Delete">
            <i class="fa fa-trash"></i> Supprimer
        </button>
        <a href="/events/{{eventId}}/subscriptions" class="btn btn-outline-info">Gérer les inscriptions</a>
    </div>
    <div *ngIf="isSubscribable">
        <button *ngIf="!isSubscribed"
            class="btn btn-outline-info"
            (click)="subscribe($event)">
            <i class="fa fa-ticket"></i> S'inscrire
        </button>
        <button  *ngIf="isSubscribed"
            class="btn btn-outline-danger" 
            (click)="unsubscribe($event)">
            <i class="fa fa-ticket"></i> Se désinscrire
        </button>
    </div>
</nav>