<form name="eventForm" ng-submit="submitForm(eventForm.$valid)" novalidate>
    <div class="form-group">
        <label for="event-title">Titre de l'évènement</label>
        <input id="event-title" type="text" class="form-control" name="title" ng-model="title" ng-minlength="5" ng-maxlength="25" required>
        <div ng-messages="eventForm.title.$error" ng-if='eventForm.title.$dirty' class="field-validation-msg" role="alert">
            <p ng-message="minlength">Le titre doit faire plus de 5 caractères</p>
            <p ng-message="maxlength">Le titre doit être composé au maximum de 25 caractères</p>
            <p ng-message="required">Ce champ est obligatoire</p>
        </div>
    </div>
    <div class="form-group">
        <label for="event-date">Date de l'évènement</label>
        <input id="event-date" type="date" class="form-control" name="eventDate" ng-model="eventDate" placeholder="01.07.2020" required>
         <div ng-messages="eventForm.eventDate.$error" ng-if='eventForm.eventDate.$dirty' class="field-validation-msg">
            <p ng-message="required">Ce champ est obligatoire</p>
        </div>
    </div>
    <div class="form-group">
        <label for="event-location">Lieu</label>
        <input id="event-location" type="text" class="form-control" name="location" ng-model="location" placeholder="1950 Sion">
    </div>
    <div class="form-group">
        <label for="event-lat">Latitude</label>
        <input id="event-lat" type="text" class="form-control" name="lat" ng-model="lat" placeholder="46.2331778">
    </div>
    <div class="form-group">
        <label for="event-lng">Longitude</label>
        <input id="event-lng" type="text" class="form-control" name="lon" ng-model="lon" placeholder="7.35946709">
    </div>
    <div class="form-group">
        <label for="event-descr">Description</label>
        <textarea id="event-descr" class="form-control" name="descr" ng-model="descr" placeholder="Il était une fois..."></textarea>
    </div>
    <div class="form-group">
        <label for="event-link">Lien vers une page annexe</label>
        <input id="event-link" type="url" class="form-control" name="link" ng-model="link" placeholder="http://www.classe84.org">
    </div>
    <div class="form-group">
        <label for="event-price">Prix par personne</label>
        <input id="event-price" type="number" class="form-control" name="price" ng-model="price" placeholder="10.50">
    </div>
    <div class="form-group">
        <label for="event-organisator">Organisateur</label>
        <input id="event-organisator" type="text" class="form-control" name="organisator" ng-model="organisator">
        <div ng-messages="eventForm.organisator.$error">
            <p ng-message="required" class="field-validation-msg">Ce champ est obligatoire</p>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid">Save</button>
        <a href="#/event" class="btn btn-default">Annuler</a>
    </div>
</form>