<form action="">
    <div class="form-group">
        <label for="event-title">Titre de l'évènement</label>
        <input id="event-title" type="text" required>
        <div class="error-msg">Ce champ est obligatoire</div>
    </div>
    <div class="form-group">
        <label for="event-date">Date de l'évènement</label>
        <input id="event-date" type="date" required>
        <div class="error-msg">Ce champ est obligatoire</div>
    </div>
    <div class="form-group">
        <label for="event-location">Lieu</label>
        <input id="event-location" type="text">
        <div class="error-msg"></div>
    </div>
    <div class="form-group">
        <label for="event-lat">Latitude</label>
        <input id="event-lat" type="text">
        <div class="error-msg"></div>
    </div>
    <div class="form-group">
        <label for="event-lng">Longitude</label>
        <input id="event-lng" type="text">
        <div class="error-msg"></div>
    </div>
    <div class="form-group">
        <label for="event-descr">Description</label>
        <textarea id="event-descr"></textarea>
        <div class="error-msg"></div>
    </div>
    <div class="form-group">
        <label for="event-link">Lien vers une page annexe</label>
        <input id="event-link" type="url">
        <div class="error-msg"></div>
    </div>
    <div class="form-group">
        <label for="event-price">Prix par personne</label>
        <input id="event-price" type="text">
        <div class="error-msg"></div>
    </div>
    <div class="form-group">
        <label for="event-organisator">Organisateur</label>
        <input id="event-organisator" type="text">
        <div class="error-msg"></div>
    </div>
</form>