<div class="row">
    <div class="col-md-8">
        <section class="card list">
            <div class="card-block">
            <h1>Sorties et évenements</h1>
            </div>
        
            <div class="card-block action-items">
                <a href="#/event/add" class="btn btn-primary-outline"><i class="ico ico-user-plus"></i> New event</a>	
            </div>
        
            <!--form class="sub-nav simple-form list-filter row">		
                <label for="user-list-filter" class="right inline">Recherche</label>
                <input type="text" id="user-list-filter" placeholder="Nom Prénom" ng-model="queryCriteria">
            </form-->
        
            <div class="card-block">
                <div class="loader-spinner" data-ng-show="this.isLoading">
                    <i class="ico ico-spinner ico-pulse ico-lg"></i>
                </div>
                <ul id="events_list" class="row list-item">                
                    <li class="animation" ng-repeat="event in events | orderBy: ['-event_date']">
                        <a href="#/event/{{event.id}}" class="card">
                            <div class="card-header">
                                <h2>{{event.title}}</h2>
                            </div>
                            <div class="card-block">
                                <p class="date"><i class="ico ico-calendar text-separator"></i> {{event.event_date}}</p>
                                <p class="organisator"><i class="ico ico-bullhorn"></i> {{event.organisator}}</p>
                                <p class="Lieu"><i class="ico ico-map-marker"></i> {{event.location}}</p>
                                <p><i class="ico ico-users"></i> 18 participants</p>
                            </div>
                        </a>
                    </li>
                    <li class="event-item animation" ng-if="events.length === 0">
                        <strong class="label alert">Aucun résultat trouvé...</strong>
                    </li>                
                </ul>
            </div>
        </section>
    </div>
    <aside class="col-md-4"></aside>
</div>