@import '../../../sass/partials/config/variables';


.address-item {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    padding: 4 * $space-step;
}

.address-item__logo {
	text-align: right;
}

.address-item__detail {
	flex-grow: 2;

	p {
		margin: 0;
	}
}

.gmap {
    display: block;
    height: 150px;
}

.favorite-address {
	color: gold;
}
