.address-item__logo {
	float: right;
}

.address-item__detail {	
	p {
		margin: 0;
	}
}

.gmap {
    display: block;
    height: 150px;
}

.favorite-address {
	color: gold;
}

.filled-card-part {
	padding: 0;
	
	.btn-group {
		display: block;

		.btn {
			border-radius: 0;
    		margin: 0;
			width: 50%;
		}
	}
}