<section class="account-recovery-form-viewer card card-body align-self-center">
    <div *ngIf="isSending">
        <loaders-css [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
        <p class="mt-3 alert alert-info">Processing the restore request...</p>
    </div>
    <div *ngIf="isSuccessful">
        <h2>Restore process finished</h2>
        <p class="alert alert-success">Please check your email or your spam folder to recover your account !</p>
    </div>
    <div *ngIf="!isSending && !isSuccessful">
        <header>
            <h1 class="card-title">Account recovery</h1>
        </header>
        <app-account-recovery-form (recoverEvent)="sendREcoveryRequest($event)"></app-account-recovery-form>
    </div>
</section>