<section class="login-form-viewer card card-block col align-self-center">
    <header>
        <h1 class="card-title">Login</h1>
    </header>
    <div *ngIf="isLoggingIn" class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
    <div *ngIf="loggedUser">
        <p>Hello {{loggedUser.fullname}} you're logged in. Would you like to go to your profile page ?</p>
        <p class="text-muted">Not {{loggedUser.first_name}} ? Please <a routerLink="/logout">log into your account</a>.</p>
    </div>
    <app-login-form *ngIf="!isLoggingIn && !loggedUser"></app-login-form>
</section>