<form [formGroup]="contactForm" *ngIf="recaptchaKey" (onSubmit)="onSubmit($event)" class="row" novalidate>
    <div class="form-group col-sm-6 col-12">
        <label for="contact.name">Your first/lastname</label>
        <input
            type="email"
            id="contact.name"
            class="form-control"
            name="name"
            formControlName="name"
            placeholder="Votre nom"
            required
        />
        <ul class="alert alert-danger" *ngIf="contactForm.get('name').touched && contactForm.get('name').errors">
            <li *ngIf="contactForm.get('name').errors.required">This field is required</li>
            <li *ngIf="contactForm.get('name').errors.maxlength">Name length should be longer than {{contactForm.get('name').errors.maxlength.requiredLength}}</li>
        </ul>
    </div>
    <div class="form-group col-sm-6 col-12">
        <label for="contact.email">Your email address</label>
        <input 
            type="email" 
            id="contact.email" 
            class="form-control" 
            name="email"
            formControlName="email"
            placeholder="nom@domain.ch" 
            required
        />
        <ul class="alert alert-danger" *ngIf="contactForm.get('email').touched && contactForm.get('email').errors">
            <li *ngIf="contactForm.get('email').errors.required">This field is required</li>
            <li *ngIf="contactForm.get('email').errors.email">Your email format is invalid</li>
        </ul>
    </div>
    <div class="form-group col-12">
        <label for="contact.message">Your message</label>
        <textarea name="message" id="contact.message" class="form-control" cols="30" rows="10" 
        formControlName="message" placeholder="Your message..." required></textarea>
        <ul class="alert alert-danger" *ngIf="contactForm.get('message').touched && contactForm.get('message').errors">
            <li *ngIf="contactForm.get('message').errors.required">This field is required</li>
            <li *ngIf="contactForm.get('message').errors.minlength">Your message must be longer than {{contactForm.get('message').errors.minlength.requiredLength}}</li>
        </ul>
    </div>
    <div class="form-group col-12">
        <re-captcha
            site_key="{{recaptchaKey}}"
            (captchaResponse)="handleCorrectCaptcha($event)"
            (captchaExpired)="handleCaptchaExpired($event)"></re-captcha>
        <input type="hidden" name="captcha" formControlName="captcha">
    </div>
    <div class="form-group col-12">
        <input
            type="submit"
            name="submit"
            value="Send your message"
            class="btn btn-primary"
            (click)="onSubmit($event)"
            [disabled]="!(contactForm.valid && isCaptchaValid)">
    </div>
</form>