<div class="modal fade" style="display:block;" [class.show]="isDisplayed" id="modal-{{compId}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="'modal-long-title-'+compId" [attr.aria-hidden]="isDisplayed">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-long-title-{{compId}}">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close($event)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close($event)">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="submit($event)">{{btnSubmitLabel}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade" [class.show]="isDisplayed"></div>