<div class="row">
    <section class="col-md-8">
        <loaders-css [hidden]="!isLoading" [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
         <router-outlet></router-outlet> 
    </section>
    <aside class="col-md-4">
        <app-panel *ngIf="userParticipations && !isEditMode">
            <span class="title"><i class="fa fa-ticket"></i> Participations</span>
            <span class="text">
                <p>Ce membre a participé à {{userParticipations.length}} évènements.</p>
                <ul>
                    <li *ngFor="let subscr of userParticipations">
                        <a routerLink="/events/{{subscr.event.id}}">{{subscr.event.title}}</a>
                    </li>
                </ul>
                <div *ngIf="userParticipations.length">
                    <a routerLink="/users/{{user.id}}/subscriptions" class="btn btn-link"><i class="fa fa-list"></i> Voir la liste complète</a>
                </div>
            </span>
        </app-panel>        
        <app-panel>
            <span class="title"><i class="fa fa-ticket"></i> Other widget</span>
            <span class="text">Your dream widget here !</span>
        </app-panel>
    </aside>
</div>