<div class="row">
    <div *ngIf="!isLoading && !isTokenValid" class="card card-block col col-md-10 col-lg-6 align-self-center">
        <p class="alert alert-danger">Your token has expired</p>
    </div>
    <div *ngIf="isLoading" class="card card-block col col-md-10 col-lg-6 align-self-center">
        <loaders-css [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
        <p class="mt-3 alert alert-info">Check token validity...</p>
    </div>
</div>
<section *ngIf="isTokenValid" class="login-form row">
    <div class="card card-block col col-md-10 col-lg-6 align-self-center">
        <header>
            <h1 class="card-title">Restore your account</h1>
        </header>
        <div>
            <form [formGroup]="restoreForm" novalidate>
                <div class="form-group">
                    <label for="login-email" class="center-block">Email</label>
                    <input id="login-email" type="text" class="form-control" formControlName="email" placeholder="me@example.org" />
                    <ul *ngIf="restoreForm.controls.email.invalid && (restoreForm.controls.email.dirty || restoreForm.controls.email.touched)"
                        class="alert alert-danger">
                        <li *ngIf="restoreForm.controls.email.errors.required">
                            Email is required.
                        </li>
                        <li *ngIf="restoreForm.controls.email.errors.email">
                            Email format is not valid.
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="login-password" class="center-block">Password</label>
                    <input id="login-password" type="password" class="form-control" formControlName="password" placeholder="password" />
                </div>
                <div class="form-group">
                    <label for="login-password" class="center-block">Confirm password</label>
                    <input id="login-password" type="password" class="form-control" formControlName="confirmPassword" placeholder="password"
                    />
                </div>
                <input type="hidden" formControlName="recoveryToken" [ngModel]="recoveryToken"  >
                <ul class="alert alert-danger" *ngIf="restoreForm.errors">
                    <li>Password and password confirmation missmatch</li>
                </ul>
            </form>
        </div>
        <footer>
            <button type="button" class="btn btn-primary" (click)="changePassword($event)" [disabled]="!restoreForm.valid">Restore account</button>
            <div>{{restoreForm.value | json }}</div>
        </footer>
    </div>
</section>