<form name="event-list-filter-form">
    <div class="form-group">
        <div class="input-group">
            <label for="event-list-filter" class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search" aria-labelledby="search"></i></span>
            </label>
            <input type="search" id="event-list-filter" name="name" class="form-control" placeholder="Recherche par mot-clé" [(ngModel)]="filter.name" (input)="update.emit(filter)" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <label for="filter-active-event">Specific year</label>
            <input type="number" id="filter-by-year" name="year" [(ngModel)]="filter.year" (change)="update.emit(filter)" />
        </div>
    </div>
</form>