.content {
    background-color: $bg-content-color;
    box-shadow: 4px 4px 8px darken($bg-color,10%);
}
.action-items {
	float: right;
	.action {
		padding: 5px 8px;
		background-color: transparent;
		margin: 0;
	}
}