
// Users
.card-item {
  .user-name.inactiv {
    text-decoration: line-through;
  }
  .user-birthdate {
    //font-style: italic;
    font-size: .8em;
  }
}

// User
.user-profile {
  margin-top: 85px;
  .user-image-holder {
    text-align: center;
    position: relative;
    top: -90px;
    img {
        border: 4*$card-border-width solid $global-bg-color;
        position: relative;
    }
  }
  .actions {
    transform: translateY(-235px);
    
  }
  .ribbon {
    border: 1px solid black;
    border: 1px 0;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: $space-step 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(-188px) translateX(-40px) rotate(-45deg);
    width: 200px;
    &.activ {
      background-color: $state-success-text;
    }
    &.inactiv {
      background-color: $state-warning-text;
    }
    
    &:before {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right:10px solid blue;
      border-left:10px solid blue;
    }
    &:after {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right:10px solid blue; 
    }
  }
}