@import '_variables';

$transition-duration: .2s;

.users-list {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  display: flex;
}

.user-item {
  line-height: 40px;
  list-style: none;
  box-sizing: border-box;
  width: 200px;
  margin: $space-step;
  padding: 0;
  text-align: center;

  &:hover{
    border: 1px solid black;
  }

  >a{
    display: block;
    margin: 0;
    width: 100%;
    padding: 2*$space-step;
  }

  .user-ico{
    display: block;
    margin-bottom: 3*$space-step;
  }
  .fa-female{
    color: $female-color;
  }

  .user-name{
    margin: 0;
  }

  &.animation {
    -webkit-transition: all linear $transition-duration;
    transition: all linear $transition-duration;
  

    &.ng-leave,
    &.ng-enter.ng-enter-active {
      opacity: 1;
      max-height: 40px;
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active {
      opacity: 0;
      max-height: 0;
    }
  }
}