//variables
$space-step: 4px;

//colors
$bg-color: #ccc;
$bg-content-color: white;

$female-color: #F53DDE;
$male-color: #2674c6;


$ribbon-bg-color: #811406;
$ribbon-fg-color: white;
$ribbon-border-color: black;
