.main-content {
    padding: 2rem 1rem;
    
}
.module-meta {
    color: $secondary-color;
    font-size: 0.9rem;
    margin: $step;  
}
.inter-block {
    border-width: $global-border-width 0;
    border-style: solid;
    border-color: $global-border-color;
}
.global-actions {
    position: absolute;
    right: 18px;
    top: 24px;
}
.loader-spinner {
    display: block;
    padding: 3*$step;
    text-align: center;
}

.module-actions {
    display: flex;
    justify-content: flex-end;
    margin: 2*$step;
    
    .btn {
        margin-left: 4px;
    }
}
.module-title {
    position: absolute;
    top: 150px;
    margin: 0 2*$step;
    text-shadow: 2px 2px 2px black;
    color: $global-bg-color;
}
a.card {
    &:hover,
    &:focus {
        text-decoration: none;
        border: 1px solid $primary-color;
    }    
}
.notifications-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
    width: 80vw;
    max-width: 800px;
}