.tp-wrapper {
    perspective: 800px;
}

.tp-box {
    position: relative;
    margin: 3rem auto;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.tp-box__front {
    background-color: #f5f8fa;
}
.tp-box__back {
    transform: rotateY(179.9deg);
}