<div class="row">
    <ng-template #loader>Loading...</ng-template>
    <section class="col-md-8">
        <app-event-detail [event]="event"></app-event-detail>
    </section>
    <aside class="col-md-4">
        <app-panel *ngIf="!isLoading; else loader">
            <span class="title"><i class="fa fa-magic"></i> Actions</span>
            <app-event-controls class="text card-body"
                [eventId]="eventId"
                [canEdit]="canEdit"
                [canDelete]="canDelete"
                [isSubscribed]="isSubscribed"
                [isSubscribable]="isSubscribable"
                (deleteEvent)="delete($event)"
                (subscribeToEvent)="subscribe($event)"
                (unsubscribeFromEvent)="unsubscribe($event)"
            ></app-event-controls>
        </app-panel>
        <app-panel *ngIf="!isLoading;else loader">
            <span class="title"><i class="fa fa-ticket"></i> {{ eventSubscriptions ? eventSubscriptions.length : '' }} inscrits</span>
            <span class="text" *ngIf="eventSubscriptions && eventSubscriptions.length">
                <app-event-subscriptions
                    isTotalHidden="true"
                    [subscribersList]="eventSubscriptions"
                ></app-event-subscriptions>
            </span>
        </app-panel>
        <app-panel>
            <span class="title"><i class="fa fa-pie-chart"></i> Success ratio</span>
            <span class="text">15% of active members are attending to this event !</span>
        </app-panel>
    </aside>
</div>
