<div class="container">				
    <div class="row">
        <div class="col-sm-8 main">
            <section class="card">
                <div class="card-body">
                    <h1 i18n>About the classe 1984</h1>
                    <h2 i18n>The committee</h2>
                    <section class="panel">
                        <dl class="dl-horizontal">
                            <dt i18n>President</dt>
                            <dd>Evéquoz Léonard</dd>
                            <dt i18n>Deputy Chairman & Webmaster</dt>
                            <dd>Lerjen Yann</dd>
                            <dt i18n>Cashier</dt>
                            <dd>Piller David</dd>
                            <dt i18n>Secretary</dt>
                            <dd>Udry Karine</dd>
                            <dt i18n>Members</dt>
                            <dd i18n>All people marked as "active member" in the member list.</dd>
                        </dl>
                    </section>

                    <h2 i18n>The articles of association</h2>
                    <section class="panel">
                        <p>Les statuts de la classe ont également été créé. Afin de faciliter la lecture, une version 
                        <a href="/assets/pdf/statuts_classe_1984.pdf"><i class="fa fa-file-pdf-o"></i> PDF</a> est disponible en téléchargement.</p>
                    </section>

                    <h2 i18n>Banking information</h2>
                    <section class="panel">
                        <dl class="dl-horizontal">
                            <dt i18n>Bank</dt>
                            <dd>Raiffeisen Conthey</dd>
                            <dt>IBAN</dt>
                            <dd>CH80 8058 9000 0009 2054 1</dd>
                            <dt i18n>Account owner</dt>
                            <dd>Classe 1984 de Vétroz</dd>
                            <dt i18n>Account number</dt>
                            <dd>19-2528-6</dd>
                            <dt i18n>Clearing number</dt>
                            <dd>80589</dd>
                        </dl>
                    </section>
                </div>
            </section>
        </div>
        <aside class="col-sm-4">
            <section class="card card-body">
                <h4 class="card-title"><i class="fa fa-flask"></i> TODO Prochain anniversaire</h4>
                <p class="card-text">Le prochain anniversaire de la classe est Voeffray François le 23.12.1984.</p>
            </section>			
        </aside>
    </div>
</div>