<div class="container">
    <div class="row">
        <div class="col main">
            <section class="card">
                <div class="card-body">
                    <h1>A propos de la classe 1984</h1>
                    <h2>Le comité</h2>
                    <section class="card-columns">
                        <div class="card">
                            <img
                                src="assets/img/comite/leonard.jpeg"
                                class="card-img-top"
                                alt="Photo de Evéquoz Léonard"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Evéquoz Léonard</h5>
                                <p class="card-text">Président</p>
                            </div>
                        </div>

                        <div class="card">
                            <img
                                src="assets/img/comite/yann.jpeg"
                                class="card-img-top"
                                alt="Photo de Lerjen Yann"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Lerjen Yann</h5>
                                <p class="card-text">Vice-Président & Web</p>
                            </div>
                        </div>

                        <div class="card">
                            <img
                                src="assets/img/comite/david.jpeg"
                                class="card-img-top"
                                alt="Photo de Piller David"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Piller David</h5>
                                <p class="card-text">Caissier</p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                src="assets/img/comite/julien.jpeg"
                                class="card-img-top"
                                alt="Photo de Gonthier Julien"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Gonthier Julien</h5>
                                <p class="card-text">Event Manager</p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                src="assets/img/comite/karine.jpeg"
                                class="card-img-top"
                                alt="Photo de Udry Karine"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Udry Karine</h5>
                                <p class="card-text">Secrétaire</p>
                            </div>
                        </div>
                    </section>

                    <h2>Statuts et organisation</h2>
                    <section class="panel">
                        <p>Pour officialiser la mise en place de l'association <em>Classe 1984 de Vétroz</em>, le comité a rédigé des statuts. Ceux-ci sont accessibles 
                            librement en téléchargeant le 
                            <a href="/assets/pdf/statuts_classe_1984.pdf"
                                ><i class="fa fa-file-pdf-o"></i> PDF</a
                            >.</p>
                        <p>Au niveau organisationnelle, le comité de classe s'occupe de mettre sur pied annuellement un souper. Pour les années jubilaires (chaque 5 ans), le souper est remplacé par une sortie collective dans un lieu décidé communément avec les membres actifs de la classe.</p>
                        <p>Pour être considéré actif, un membre doit s'acquitter d'une cotisation annuelle de CHF 100.- permettant la mise en place d'activité, souper, voyages, etc. <br/>
                        En cas de voyage, un supplément pourra être demandé afin de couvrir les frais de celui-ci.</p>
                    </section>

                    <h2>Informations bancaires</h2>
                    <section class="panel">
                        <dl class="dl-horizontal">
                            <dt>Banque</dt>
                            <dd>Raiffeisen Conthey</dd>
                            <dt>IBAN</dt>
                            <dd>CH80 8058 9000 0009 2054 1</dd>
                            <dt>Titulaire du compte</dt>
                            <dd>Classe 1984 de Vétroz</dd>
                            <dt>No de compte</dt>
                            <dd>19-2528-6</dd>
                            <dt>No de Clearing</dt>
                            <dd>80589</dd>
                        </dl>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>
