<div class="flipper-container" ng-class="flipped: editingMode">
    <div class="flipper">
    	<div class="flip-div recto">
    		<div class="row">{{address.street}}</div>
    		<div class="row">{{address.npa}} {{address.city}}</div>
    		<div class="row">{{address.state}} - {{address.country}}</div>
    		<div class="tools">
    			<button class="edit" ng-click="editAddress()">
                    <i class="ico ico-pencil"></i>
                </button>
    		</div>
    	</div>
    	<div class="flip-div verso">
    		<form>
    			<div class="row">
    				<div class="large-6 columns">
    					<label for="usr-lastname">Rue</label>
    				</div><div class="large-6 columns">
    					<input type="text" name="addr-street" placeholder="Av. de la gare 15" ng-model="address.street" />
    				</div>
    			</div>				
    			<div class="row">
    				<div class="large-6 columns">
    					<label for="usr-lastname">NPA</label>
    				</div><div class="large-6 columns">
    					<input type="text" name="lastname" placeholder="Muster" ng-model="address.npa" />
    				</div>
    			</div>				
    			<div class="row">
    				<div class="large-6 columns">
    					<label for="usr-lastname">Lieu</label>
    				</div><div class="large-6 columns">
    					<input type="text" name="lastname" placeholder="Muster" ng-model="address.city" />
    				</div>
    			</div>	
    			<div class="row">
    				<div class="large-6 columns">
    					<label for="usr-lastname">Région</label>
    				</div><div class="large-6 columns">
    					<input type="text" name="lastname" placeholder="Muster" ng-model="address.state" />
    				</div>
    			</div>	
    			<div class="row">
    				<div class="large-6 columns">
    					<label for="usr-lastname">Pays</label>
    				</div><div class="large-6 columns">
    					<input type="text" name="lastname" placeholder="Muster" ng-model="address.country" />
    				</div>
    			</div>
    			<div class="save">
    				<button class="save" ng-click="saveAddress()">
    					<i class="ico ico-save"></i>
    				</button>
    			</div>	
    		</form>
    	</div>
    </div>
</div>