<div class="content address-item">
    <div class="row">
        <div class="columns small-2">
            <i class="ico ico-map-marker ico-2x"></i>
        </div>
        <div class="columns small-10">
            <div class="row">{{address.street}}</div>
            <div class="row">{{address.npa}} {{address.city}}</div>
            <div class="row">{{address.state}} - {{address.country}}</div>
        </div>
    </div>
    <div class="tools">
        <button class="edit" ng-click="editAddress()">
            <i class="ico ico-pencil"></i>
        </button>
        <button class="default" ng-click="setDefault('address.id')">
            <i class="ico ico-check"></i>
        </button>
    </div>
</div>