.favorite-address {
    color: gold;
}

.adr-detail {
    border: 1px solid black;
	border-radius: 4px;
    display: block;

    &-header a {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5em 1em;

        &:hover {
            background-color: #3097d1;
            color: white;
            text-decoration: none;
        }
    }
    
    &-title {
        color: inherit;
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

    &-text {
        text-align: center;
        margin-bottom: .5em;
    }

    &-img {
        text-align: center;
    }

    &-action {
        text-align: center;
    }
}
