<section class="adr-detail">
    <header class="adr-detail-header">
        <a href="#" (click)="toggleDetail($event)"
        [attr.aria-expanded]="!isDetailCollapsed" aria-controls="collapsableDetail + compId">
            <h1 class="adr-detail-title">{{ address.toString() }}</h1>
            <span *ngIf="address.is_default" class="badge badge-primary">Principale</span>
            <i class="fa fa-chevron-up ml-3 collapse-trigger" [class.upside-down]="isDetailCollapsed"></i>
        </a>
    </header>
    <div id="collapsableDetail + compId" class="adr-detail-content" [collapse]="isDetailCollapsed" [isAnimated]="true">
        <div class="adr-detail-action mt-2 mb-2">
            <button type="button"
                class="btn btn-primary btn-sm mr-1"
                title="Editer l'adresse"
                (click)="edit($event)"
                ><i class="fa fa-pencil"></i
            > Editer</button>
            <button type="button"
                class="btn btn-danger btn-sm mr-1"
                title="Supprimer l'adresse"
                (click)="delete($event)">
                <i class="fa fa-trash"></i> Supprimer
            </button>
            <button *ngIf="!address.is_default"
                type="button"
                title="Définir comme adresse principale"
                class="btn btn-warning btn-sm mr-1"
                (click)="setAsFavorite($event)">
                <i class="fa fa-star"></i> Définir comme principale
            </button>
        </div>
        <figure class="adr-detail-img">
            <img class="mb-2 mt-2"
            alt="Map for coordinates {{ address.coordinates.toString() }}"
            [src]="mapLink" />
            <figcaption class="adr-detail-text">
                {{ address.coordinates.toString() }}
            </figcaption>
        </figure>
    </div>
</section>
