<section class="adr-detail">
    <figure class="adr-detail-img">
        <figcaption class="adr-detail-text">
            {{ address.toString() }}
        </figcaption>
        <img [src]="mapLink"
            alt="Map for coordinates {{ address.latitude }},{{
                address.longitude
            }}"
        />
    </figure>
    <footer class="adr-detail-action">
        <a class="btn btn-primary"
            href="/addresses/{{ address.id }}/edit"
            (click)="edit($event)"
            ><i class="fa fa-pencil"></i
        ></a>
        <button type="button" class="btn btn-danger" (click)="delete($event)">
            <i class="fa fa-trash"></i>
        </button>
    </footer>
</section>
