<section class="user-list">
    <div class="loader-spinner" *ngIf="isLoading">
        <i class="fa fa-spinner fa-pulse fa-lg"></i>
    </div>
    <div class="alert alert-info">{{usersList.length}} membres listés</div>
    <ul class="row list-item">
        <li *ngFor="let user of usersList" class="animation card-item col-xs-12 col-sm-6 col-lg-4">
            <app-user-list-item [user]="user"></app-user-list-item>
        </li>
        
        <li class="animation alert-danger alert radius" *ngIf="!usersList.length && !isLoading">
            <div><i class="fa fa-times"></i> Aucun résultat trouvé...</div>
        </li>
    </ul>
</section>