<li class="animation card-item col-xs-12 col-sm-6 col-lg-4">
    <a href="#/user/user.id">
        <div class="item-ico">
            <i data-n-g-class="$ctrl.user.gender === 'F'  ? 'ico-girl female' : 'ico-boy male'" class="user-ico ico ico-2x"></i>
        </div>
        <div class="item-desc">
            <div class="user-name" data-n-g-class="{inactiv: (!$ctrl.user.is_active)}">$ctrl.user.last_name $ctrl.user.first_name</div>
            <div class="user-birthdate">$ctrl.user.birthdate | date: 'dd.MM.yyyy'</div>
        </div>
    </a>
</li>