<div class="row">
    <section class="card col-md-8">
        <loaders-css [hidden]="!isLoading" [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
        <app-event-list-wrapper *ngIf="!isLoading" [eventList]="eventList"></app-event-list-wrapper>
    </section>
    <aside class="col-md-4">
        <app-panel>
            <span class="title">Taux</span>
            <span class="text">Participation ratio to events according to the active member list.</span>
        </app-panel>        
        <app-panel>
            <span class="title">Participation</span>
            <span class="text">This user participated to n events</span>
        </app-panel>
    </aside>
</div>