<div class="row">
    <section class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Events</h1>
                <div class="global-actions">
                    <a href="#/event/add" class="btn btn-outline-primary">
                        <i class="fa fa-calendar-plus-o"></i> <span class="d-none d-md-inline">New Event</span>
                    </a>	
                </div>
                <app-event-list-wrapper></app-event-list-wrapper>
            </div>
        </div>
    </section>
    <aside class="col-md-4">
        <app-panel *ngIf="nextEvent">
            <p class="title"><i class="fa fa-plane"></i> Event planned !</p>
            <p class="text">The next event is <a href="/events/{{nextEvent.id}}">{{nextEvent.title}}</a> planned on {{nextEvent.start_date | date: 'dd.MM.yyyy'}} in {{nextEvent.location}}</p>
        </app-panel>
        <app-panel>
            <p class="title"><i class="fa fa-bar-chart"></i> Stats</p>
            <p class="text">
                <span><i class="fa fa-flask"></i> TODO => remove following placeholder</span>
                <span>The average participation is 150 members.</span>
                <span>The most frequented event was <strong>Souper 1234</strong> with 200 subscriptions.</span>
                <span>The most rejected event was <strong>Souper 5678</strong> with 2 subscriptions.</span>
            </p>
        </app-panel>        
    </aside>
</div>