<form [formGroup]="recoveryForm" novalidate>
    <div class="form-group">
        <label for="login-email" class="center-block">Email</label>
        <input id="login-email" type="text" class="form-control" formControlName="email" placeholder="me@example.org" />
        <ul *ngIf="recoveryForm.controls.email.invalid && (recoveryForm.controls.email.dirty || recoveryForm.controls.email.touched)"
            class="alert alert-danger">
            <li *ngIf="recoveryForm.controls.email.errors.required">
                Email is required.
            </li>
            <li *ngIf="recoveryForm.controls.email.errors.email">
                Email format is not valid.
            </li>
        </ul>
    </div>
    <div>
        <button type="button" class="btn btn-primary" (click)="recover($event)" [disabled]="!recoveryForm.valid">Recover your account</button>
        <a routerLink="/login" class="btn btn-link">Go to login</a>
    </div>
</form>