<div *ngIf="!(event && eventForm)" class="mb-5 mt-5 text-center">
    <loaders-css [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<form
    *ngIf="event && eventForm"
    class="card-body" 
    [formGroup]="eventForm" 
    (ngSubmit)="onSubmit($event)" 
    novalidate>
    <input type="hidden" formControlName="id" />
    <div class="form-group">
        <label for="title--{{compId}}">Titre</label>
        <input type="text"
            id="title-{{compId}}"
            class="form-control"
            formControlName="title" 
            placeholder="Event title" />
        <app-validation-error [errors]="eventForm.get('title').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="organisator-{{compId}}">Organisateur</label>
        <input type="text"
            id="organisator-{{compId}}"
            class="form-control"
            formControlName="organisator"
            placeholder="Organisators" />
        <app-validation-error [errors]="eventForm.get('organisator').errors"></app-validation-error>
    </div>
    <div [ngClass]="{'alert alert-danger': eventForm.errors?.endDateIsNotGreaterEqualThanStartDate }">
        <div class="form-group">
            <label for="date-{{compId}}">Date de début</label>
            <div class="input-group">
                <input type="text"
                    id="date-{{compId}}"
                    class="form-control"
                    formControlName="start_date"
                    placeholder="31.12.2000"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY', containerClass: 'theme-dark-blue', selectFromOtherMonth: true }"
                    #dpStart="bsDatepicker"
                    bsDatepicker
                    (bsValueChange)="onStartDateChanged($event)" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" (click)="dpStart.toggle()" [attr.aria-expanded]="dpStart.isOpen"><i class="fa fa-calendar"></i></button>
                </div>
            </div>
            <app-validation-error [errors]="eventForm.get('start_date').errors"></app-validation-error>
        </div>
        <div class="form-group">
            <label for="date-{{compId}}">Date de fin</label>
            <div class="input-group">
                <input type="text"
                    id="date-{{compId}}"
                    class="form-control"
                    formControlName="end_date"
                    placeholder="31.12.2000"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY', containerClass: 'theme-dark-blue', selectFromOtherMonth: true }"
                    #dpEnd="bsDatepicker"
                    bsDatepicker />
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" (click)="dpEnd.toggle()" [attr.aria-expanded]="dpEnd.isOpen"><i class="fa fa-calendar"></i></button>
                </div>
            </div>
            <app-validation-error [errors]="eventForm.get('end_date').errors"></app-validation-error>
        </div>

        <app-validation-error [errors]="eventForm.errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="description-{{compId}}">Description</label>
        <app-ngx-editor 
            id="description-{{compId}}"
            formControlName="description"
            [placeholder]="'Enter the description here...'"
            [spellcheck]="true"></app-ngx-editor>
            <app-validation-error [errors]="eventForm?.get('description').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="location-{{compId}}">Lieux</label>
        <div class="input-group">
            <input type="text"
                id="location-{{compId}}"
                class="form-control"
                formControlName="location"
                placeholder="Place Fédéral, Berne" />
            <div class="input-group-append">
                <button (click)="searchLocation($event)" class="btn btn-outline-dark">Génère Lat/Lng</button>
            </div>
        </div>
            <app-validation-error [errors]="eventForm?.get('location').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="latitude-{{compId}}">Latitude (Lat)</label>
        <input type="text"
            id="latitude-{{compId}}"
            class="form-control"
            formControlName="latitude"
            placeholder="latitude" />
            <app-validation-error [errors]="eventForm.get('latitude').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="longitude-{{compId}}">Longitude (Lng)</label>
        <input type="text"
            id="longitude-{{compId}}"
            class="form-control"
            formControlName="longitude"
            placeholder="longitude" />
            <app-validation-error [errors]="eventForm.get('longitude').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="link-{{compId}}">Lien</label>
        <input type="url"
            id="link-{{compId}}"
            class="form-control"
            formControlName="link"
            placeholder="link" />
            <app-validation-error [errors]="eventForm.get('link').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="price-{{compId}}">Prix</label>
        <input type="text"
            id="price-{{compId}}"
            class="form-control"
            formControlName="price"
            placeholder="price" />
            <app-validation-error [errors]="eventForm.get('price').errors"></app-validation-error>
    </div>
    <div *ngIf="eventForm.errors" class="alert alert-danger">
            {{ eventForm.errors | json }}
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-lg-offset-6">
            <button type="submit" [disabled]="eventForm.status !== 'VALID'" class="btn btn-primary">Enregistrer</button>
            <a routerLink="/events/{{event?.id}}" class="btn btn-link">Annuler</a>
        </div>
    </div>
    <pre>Form value: {{ eventForm.value | json }}</pre>
    <p>Form status: {{ eventForm.status | json }}</p>
</form>
<app-modal *ngIf="isModalDisplayed" [isDisplayed]="isModalDisplayed" (onSubmitModal)="onGeoResultsChoosen($event)" (onCloseModal)="onCloseModal($event)">
    <app-georesult-form [georesults]="georesults" (onResultSelection)="onGeoResultsChoosen($event)"></app-georesult-form>
</app-modal>
