<div *ngIf="!(event && eventForm)" class="mb-5 mt-5 text-center">
    <loaders-css [hidden]="!isLoading" [loader]="'ball-scale-multiple'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<form
    *ngIf="event"
    class="card-body" 
    [formGroup]="eventForm" 
    (ngSubmit)="onSubmit($event)" 
    novalidate>

    <h1>{{ event.title }}</h1>
    <input type="hidden" formControlName="id" />
    <div class="form-group">
        <label for="title--{{compId}}">Title</label>
        <input
            type="text"
            id="title-{{compId}}"
            class="form-control"
            formControlName="title" 
            placeholder="Event title" />
        <app-validation-error [errors]="eventForm.get('title').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="organisator-{{compId}}">Organisator</label>
        <input
            type="text"
            id="organisator-{{compId}}"
            class="form-control"
            formControlName="organisator"
            placeholder="Organisators" />
            <app-validation-error [errors]="eventForm.get('organisator').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="date-{{compId}}">Date</label>
        <input
            type="date"
            id="date-{{compId}}"
            class="form-control"
            formControlName="event_date"
            placeholder="Organisators" />
            <app-validation-error [errors]="eventForm.get('event_date').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="description-{{compId}}">Description</label>
        <app-ngx-editor 
            id="description-{{compId}}"
            formControlName="description"
            [placeholder]="'Enter the description here...'"
            [spellcheck]="true"></app-ngx-editor>
            <app-validation-error [errors]="eventForm.get('description').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="location-{{compId}}">Location</label>
        <input
            type="text"
            id="location-{{compId}}"
            class="form-control"
            formControlName="location"
            placeholder="location" />
            <button (click)="searchLocation($event)">Search position</button>
            <app-validation-error [errors]="eventForm.get('location').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="latitude-{{compId}}">Latitude</label>
        <input
            type="text"
            id="latitude-{{compId}}"
            class="form-control"
            formControlName="latitude"
            placeholder="latitude" />
            <app-validation-error [errors]="eventForm.get('latitude').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="longitude-{{compId}}">Longitude</label>
        <input
            type="text"
            id="longitude-{{compId}}"
            class="form-control"
            formControlName="longitude"
            placeholder="longitude" />
            <app-validation-error [errors]="eventForm.get('longitude').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="link-{{compId}}">Link</label>
        <input
            type="url"
            id="link-{{compId}}"
            class="form-control"
            formControlName="link"
            placeholder="link" />
            <app-validation-error [errors]="eventForm.get('link').errors"></app-validation-error>
    </div>
    <div class="form-group">
        <label for="price-{{compId}}">Price</label>
        <input
            type="text"
            id="price-{{compId}}"
            class="form-control"
            formControlName="price"
            placeholder="price" />
            <app-validation-error [errors]="eventForm.get('price').errors"></app-validation-error>
    </div>
    <div *ngIf="eventForm.errors" class="alert alert-danger">
            {{ eventForm.errors | json }}
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-lg-offset-6">
            <button type="submit" [disabled]="eventForm.status !== 'VALID'" class="btn btn-primary">Save</button>
            <a routerLink="/events/{{event?.id}}" class="btn btn-link">Cancel</a>
        </div>
    </div>
    <p>Form value: {{ eventForm.value | json }}</p>
    <p>Form status: {{ eventForm.status | json }}</p>
</form>
<app-modal *ngIf="isModalDisplayed" [isDisplayed]="isModalDisplayed" (onSubmitModal)="onGeoResultsChoosen($event)" (onCloseModal)="onCloseModal($event)">
    <app-georesult-form [georesults]="georesults" (onResultSelection)="onGeoResultsChoosen($event)"></app-georesult-form>
</app-modal>
