<form name="user-list-filter-form">
    <div class="form-group">
        <div class="input-group">
            <label for="user-list-filter" class="input-group-addon"><i class="fa fa-search" aria-labelledby="search"></i></label>
            <input type="search" id="user-list-filter" name="name" class="form-control" placeholder="Recherche par Nom Prénom" [(ngModel)]="filter.name" (input)="update.emit(filter)" />
        </div>
        <br>
        <div class="form-check">
            <input type="checkbox" id="filter-active-user" name="activeOnly" [(ngModel)]="filter.activeOnly" (change)="update.emit(filter)" />
            <label for="filter-active-user">Membres actifs uniquement</label>
        </div>
    </div>
</form>