h1 {
  margin-bottom: 1em;
}

h2 {
  margin-top: 1em;
}

.card {
  position: relative;
  margin-bottom: $card-spacer-y;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
}

.invalid-feedback {
  display: block; // bootstrap need the form input invalid state to display correctly.error-list {
  padding: 0 0 0 1rem;
}

// to be able to use labels as input-group-prepend-element
label.input-group-prepend {
  margin-bottom: 0;
}

// to use btn as group append (ex: datepicker trigger button)
.input-group-append .btn {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  border-bottom: 2px solid white;
}
