
.ico-lg {
	font-size: 3em;
}
.ico-2x {
	font-size: 2em;
}
.ico-4x {
	font-size: 4em;
}
.ico-spin {
    animation: ico-spin 2s infinite linear;
}
.ico-pulse {
	animation: ico-spin 1s infinite steps(8);
}