// Users
.card-item {
  .user-name.inactiv {
    text-decoration: line-through;
  }
  .user-birthdate {
    //font-style: italic;
    font-size: .8em;
  }
}

// User
.user-profile {
  margin-top: 85px;
  
  .user-image-holder {
    text-align: center;
    position: relative;
    top: -70px;
    img {
        position: relative;
        height: 140px;
        width: 140px;
    }
  }
  .user-title {
    position: relative;
    top: -20px;
  }
  .actions {
    position: absolute;
    right: 3*$step;
    top: 3*$step;
  }
  .ribbon-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    //border: 1px solid black;
  }
  .ribbon {
    display: block;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: -50px;
    width: 200px;
    text-align: center;
    transform:         rotate(-45deg);
    border: 1px solid #D7DEC7;
    box-shadow: 2px 2px 8px #ccc;
    //z-index: 500;
    background-color: #BFDC7A;//;$state-success-text;
    color: black;
    
    &.inactiv {
      background-color: $brand-warning;
    }
  }
}